.container {
  width: 100%;
  height: 600px;
  border: 1px solid black;
  display: flex;
  overflow: hidden;
}

.left_container {
  width: 20%;
  height: 100%;
  border: 1px solid black;
  /* padding: ; */
}

.right_container {
  width: 80%;
  height: 100%;
  border: 1px solid black;
}