.paletteButton {
  border-radius: 50%;
  font-weight: bold;
  background-color: #049ca4;
  cursor: pointer;
  height: 29px;
  width: 29px;
  box-shadow: 0 3px 4px 1px #777;
  position: relative;
}

.imageContainer {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}
