li{
    list-style:none
  }
  
  .header {
    margin-bottom:10px;
    border-bottom: #000000 3px solid;
    padding: 10px 10px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
  }
  
  .header-list {
    display: flex;
    gap: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    align-items: flex-end;
  }
  
  .box {
    /* 方眼紙模様に必須のスタイル */
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
                      linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
    background-size: 16px 16px;
    background-repeat: repeat;
    background-position: left top;
  
    /* 以下任意のスタイル */
    padding: 20px;
  }
    